<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>0</string>
	<key>angleVariance</key>
	<string>360.00</string>
	<key>blendFuncDestination</key>
	<string>1</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<real>0.01</real>
	<key>emitterType</key>
	<string>0</string>
	<key>finishColorAlpha</key>
	<string>0.31</string>
	<key>finishColorBlue</key>
	<string>0.000</string>
	<key>finishColorGreen</key>
	<string>0.31</string>
	<key>finishColorRed</key>
	<string>0.74</string>
	<key>finishColorVarianceAlpha</key>
	<string>0.000</string>
	<key>finishColorVarianceBlue</key>
	<string>0.000</string>
	<key>finishColorVarianceGreen</key>
	<string>0.000</string>
	<key>finishColorVarianceRed</key>
	<string>0.000</string>
	<key>finishParticleSize</key>
	<string>0</string>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<string>0</string>
	<key>gravityy</key>
	<string>0</string>
	<key>maxParticles</key>
	<string>835</string>
	<key>maxRadius</key>
	<string>130.52</string>
	<key>maxRadiusVariance</key>
	<string>92.62</string>
	<key>minRadius</key>
	<string>0.00</string>
	<key>particleLifespan</key>
	<string>0.00</string>
	<key>particleLifespanVariance</key>
	<string>0.80</string>
	<key>radialAccelVariance</key>
	<integer>0</integer>
	<key>radialAcceleration</key>
	<string>-380</string>
	<key>rotatePerSecond</key>
	<string>0.00</string>
	<key>rotatePerSecondVariance</key>
	<string>0.00</string>
	<key>sourcePositionVariancex</key>
	<string>7.435</string>
	<key>sourcePositionVariancey</key>
	<string>5.659</string>
	<key>sourcePositionx</key>
	<string>102.338</string>
	<key>sourcePositiony</key>
	<string>291.823</string>
	<key>speed</key>
	<string>200</string>
	<key>speedVariance</key>
	<string>260</string>
	<key>startColorAlpha</key>
	<string>1.000</string>
	<key>startColorBlue</key>
	<string>0.36</string>
	<key>startColorGreen</key>
	<string>0.56</string>
	<key>startColorRed</key>
	<string>0.89</string>
	<key>startColorVarianceAlpha</key>
	<string>0.5</string>
	<key>startColorVarianceBlue</key>
	<string>0.2</string>
	<key>startColorVarianceGreen</key>
	<string>0.2</string>
	<key>startColorVarianceRed</key>
	<string>0.2</string>
	<key>startParticleSize</key>
	<string>45</string>
	<key>startParticleSizeVariance</key>
	<string>29</string>
	<key>tangentialAccelVariance</key>
	<integer>-144</integer>
	<key>tangentialAcceleration</key>
	<string>0</string>
	<key>textureFileName</key>
	<string></string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
