<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>213.85</string>
	<key>angleVariance</key>
	<string>298.78</string>
	<key>blendFuncDestination</key>
	<string>1</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<real>0.1</real>
	<key>emitterType</key>
	<string>0</string>
	<key>finishColorAlpha</key>
	<string>0.840</string>
	<key>finishColorBlue</key>
	<string>0.000</string>
	<key>finishColorGreen</key>
	<string>0.924</string>
	<key>finishColorRed</key>
	<string>0.803</string>
	<key>finishColorVarianceAlpha</key>
	<string>0.744</string>
	<key>finishColorVarianceBlue</key>
	<string>1.000</string>
	<key>finishColorVarianceGreen</key>
	<string>1.000</string>
	<key>finishColorVarianceRed</key>
	<string>0.432</string>
	<key>finishParticleSize</key>
	<string>40</string>
	<key>finishParticleSizeVariance</key>
	<integer>5</integer>
	<key>gravityx</key>
	<string>0</string>
	<key>gravityy</key>
	<string>0</string>
	<key>maxParticles</key>
	<string>100</string>
	<key>maxRadius</key>
	<string>21.60</string>
	<key>maxRadiusVariance</key>
	<string>20.87</string>
	<key>minRadius</key>
	<string>60.00</string>
	<key>particleLifespan</key>
	<string>0.60</string>
	<key>particleLifespanVariance</key>
	<string>0</string>
	<key>radialAccelVariance</key>
	<integer>0</integer>
	<key>radialAcceleration</key>
	<string>3.74</string>
	<key>rotatePerSecond</key>
	<string>0.00</string>
	<key>rotatePerSecondVariance</key>
	<string>0.00</string>
	<key>sourcePositionVariancex</key>
	<string>7.435</string>
	<key>sourcePositionVariancey</key>
	<string>5.659</string>
	<key>sourcePositionx</key>
	<string>102.338</string>
	<key>sourcePositiony</key>
	<string>291.823</string>
	<key>speed</key>
	<string>131.24</string>
	<key>speedVariance</key>
	<string>50</string>
	<key>startColorAlpha</key>
	<string>0.643</string>
	<key>startColorBlue</key>
	<string>0.546</string>
	<key>startColorGreen</key>
	<string>0.641</string>
	<key>startColorRed</key>
	<string>0.473</string>
	<key>startColorVarianceAlpha</key>
	<string>0.785</string>
	<key>startColorVarianceBlue</key>
	<string>0.676</string>
	<key>startColorVarianceGreen</key>
	<string>1.000</string>
	<key>startColorVarianceRed</key>
	<string>0.908</string>
	<key>startParticleSize</key>
	<string>50</string>
	<key>startParticleSizeVariance</key>
	<string>10</string>
	<key>tangentialAccelVariance</key>
	<integer>0</integer>
	<key>tangentialAcceleration</key>
	<string>3.45</string>
	<key>textureFileName</key>
	<string></string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
